# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [4]:
ecuacion = (10**2) + (20/4) * 2 - 5 + 0.25
ecuacion

105.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [10]:
forma_a = 100**0.5
forma_a

10.0

In [11]:
import math
forma_b= math.sqrt(100)
forma_b

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [12]:
100**2

10000

In [13]:
100*100

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [17]:
s = 'hello'
letra_e = s[1]
letra_e

'e'

In [21]:
s = 'hello'
s_invertida= s[::-1]
s_invertida

'olleh'

In [22]:
s = 'hello'
s_invertida= s[-1]
s_invertida

'o'

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [24]:
lista1 = [0,0,0]
lista1

[0, 0, 0]

In [25]:
lista2 = [0]*3
lista2

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [39]:
lista = [1,2,[3,4,'hello']]
lista [2] [2]= "goodbye"
lista

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [38]:
listaSinOrdenar = [5,3,4,6,1]
listaSinOrdenar.sort()
lista_ordenada = listaSinOrdenar
lista_ordenada

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [41]:
f = {'k1':{'k2':'hello'}}
valor_f = f['k1']['k2']
valor_f

'hello'

In [42]:
d = {'key1':'hello'}
valor_d = d['key1']
valor_d

'hello'

In [43]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}
valor_g = g['k1'][0]['o1'][1][0]
valor_g

'hello'

In [44]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}
valor_h = h['k1'][2]['k2'][1]['dificil'][2][0]
valor_h

'hello'

#### 9.- Crea una tupla (1 pto)

In [45]:
tupla = (1,2,3,"hola", False)
tupla

(1, 2, 3, 'hola', False)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [ ]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [47]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]
valore_unicos = set(listaDuplicada)
valore_unicos

{1, 2, 3, 4, 11, 22, 33}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [48]:
# 2 mayor que 3
2>3

False

In [57]:
# 3 igual que 2
3==2

False

In [53]:
# raíz cuadrada de 4 no es igual a 2
import math 
math.sqrt(4) != 2

False

In [51]:
# 6 mayor que 5 y 7 menor de 8
6>5 and 7<8

True

In [56]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]
len(nombre) == len(colores) or len(nombre) <7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [68]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    f.write("Nombre\tApellidos\tEdad\tMascotas\n")
    f.write("Raúl\tMoreno Godoy\t20\tRasky\n")
    f.write("María\tPantoja Pastora\t25\tVictor\n")
    f.write("Paula\tPortilla Danae\t20\tMocca\n")
    f.write("Saira\tSánchez Ruiz\t28\t-\n")
with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
    print(contenido)

Nombre	Apellidos	Edad	Mascotas
Raúl	Moreno Godoy	20	Rasky
María	Pantoja Pastora	25	Victor
Paula	Portilla Danae	20	Mocca
Saira	Sánchez Ruiz	28	-

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [70]:
dicc = {
    "Rattus": ["noverigicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": [1]
}
keys_lista = list(dicc.keys())

dicc["Canis"] = ["lupus", "familiaris"]
dicc["Felis"] = ["catus"]

keys_set = set(dicc.keys())
keys_lista, keys_set

(['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia'],
 {'Canis', 'Echinocactus', 'Felis', 'Glaucidium', 'Opuntia', 'Rattus'})